*,
*::before,
*::after {
  box-sizing: border-box; 
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container{
  width: 1111px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.plans__link {
  padding: 15px 31px;
  color: #FEFCF7;
  background: #0E8784;
  border-radius: 6px;
  font-family: 'Fraunces';
}