.firm{
    margin-top: 165px;
    color: #fff;
}

.firm__container{
    width: 1280px;
    padding: 100px 85px;
    text-align: left;
    position: relative;

    &::before {
        @include firm-bg;
        height: 474px;
        top: 0;
      }
}

.firm__content {
    margin-bottom: 120px;
  }

  .firm__title{
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin-bottom: 32px;
    font-family: 'Fraunces';
  }
  .firm__description{
    width: 540px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Barlow-400';
  }

  .firm__img{
    position: absolute;
    top: -100px;
    left: calc(50% + 85px);
    border-radius: 10px;
  }