.intro {
    width: 1310px;
    margin: 0 auto;
}

.intro__container {
    padding-top: 116px;
    padding-bottom: 117px;
    background-image: url(../img/Bitmap.jpg);
}



.intro__content {
    max-width: 495px;
    margin-top: 117px;
}

.intro__title {
    font-size: 72px;
    line-height: 72px;
    margin: 0;
    margin-bottom: 32px;
    color: #FEFCF7;
    font-family: 'Fraunces';
}


.intro__description {
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    margin-bottom: 56px;
    font-family: 'Barlow-400';
}



@media only screen and (max-width: $tablet) {


    .intro {
        margin: 0 auto;
        padding: 0 15px;
    }

    .intro__container {
        
    }

    .intro__content {
        width: 398px;
    }


    .intro__title {
        font-size: 48px;
        line-height: 48px;
    }

    .intro__description {
        font-size: 15px;
        line-height: 24px;
    }


}

@media only screen (max-width: $mobile) {
    .intro__container {
        justify-content: center;
    }

    .intro__content {
        width: 279px;
    }


    .intro__title {
        font-size: 40px;
        line-height: 40px;
    }

    .intro__description {
        font-size: 15px;
        line-height: 25px
    }
}