.intro {
    padding: 43px 0 116px;
    background-image: url('/img/Bitmap.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.intro__content {
    width: 495px;
    margin-top: 117px;
}

.intro__title {
    font-size: 72px;
    line-height: 72px;
    margin: 0;
    margin-bottom: 32px;
    color: #FEFCF7;
    font-family: 'Fraunces';
}


.intro__description {
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    margin-bottom: 56px;
    font-family: 'Barlow-400';
}



